<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>

      <!-- BlogService-->
      <service name="Business.Services.Implementations.BlogService">
        <endpoint address="net.tcp://localhost:9001/BlogService"
                  binding="netTcpBinding"
                  contract="Business.Services.Contracts.IBlogService"/>
        
      

        <endpoint address="http://localhost:9002/BlogService"
                  binding="basicHttpBinding"
                  contract="Business.Services.Contracts.IBlogService"/>

        <endpoint address="http://localhost:9003/BlogService"
                binding="wsHttpBinding"
                contract="Business.Services.Contracts.IBlogService"/>
        
        
      </service>
      <!-- ArticleService-->
      <service name="Business.Services.Implementations.ArticleService">
        <endpoint address="net.tcp://localhost:9001/ArticleService"
                  binding="netTcpBinding"
                  contract="Business.Services.Contracts.IArticleService"/>
        
     

        <endpoint address="http://localhost:9002/ArticleService"
                  binding="basicHttpBinding"
                  contract="Business.Services.Contracts.IArticleService"/>

        <endpoint address="http://localhost:9003/ArticleService"
               binding="wsHttpBinding"
               contract="Business.Services.Contracts.IArticleService"/>
        
      </service>
    </services>
    <!-- Configuration des WebServices -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug  includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>