<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <system.diagnostics> 
    <trace autoflush="true" />
    <sources>
        <source name="System.ServiceModel" 
              switchValue="Information, ActivityTracing" 
              > 
        <listeners> 
          <add name="xml"/> 
        </listeners> 
      </source> 
      <source name="System.ServiceModel.MessageLogging"> 
        <listeners> 
          <add name="xml"/> 
        </listeners> 
      </source> 
    </sources> 
    <sharedListeners> 
      <add name="xml" 
           type="System.Diagnostics.XmlWriterTraceListener" 
  initializeData= "C:\temp\WCFDiagnosticsExample.svclog" /> 
    </sharedListeners> 
  </system.diagnostics> 
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    
   <diagnostics> 
      <messageLogging 
            logEntireMessage="true" 
            logMalformedMessages="true" 
            logMessagesAtServiceLevel="true" 
            logMessagesAtTransportLevel="true" 
            maxMessagesToLog="3000" 
       /> 
    </diagnostics>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IArticleService" />
        <binding name="BasicHttpBinding_IBlogService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9002/BlogService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBlogService" contract="Client.Contracts.IBlogService"
        name="BasicHttpBinding_IBlogService_9002" />


      <!--<endpoint address="http://localhost:7777/BlogService" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IBlogService" contract="Client.Contracts.IBlogService"
           name="BasicHttpBinding_IBlogService_7777" />-->
      
      
    </client>
  </system.serviceModel>
</configuration>